h1
{
	color: rgb(0, 0, 0); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#mycanvas{
	border-width: 30px;
    border-color:rgb(0, 0, 0);
	border-style: ridge;
	background-color:aliceblue;
}